@page
@model WebAppShares.Pages.Catalog.PurchasesModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, WebAppShares
@{
    ViewData["Title"] = "Покупка";
}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container-basket">
        <div class="checkout-form col-lg-8" style="margin-right:30px">
            <h2>Покупки</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <form method="post">
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label">Ім'я</label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label">Прізвище</label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email">E-mail</label>
                    <input type="email" asp-for="Email" name="email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label">Телефон</label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Adress" class="control-label">Адресса</label>
                    <input asp-for="Adress" class="form-control" />
                    <span asp-validation-for="Adress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Оплатити" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <div class="checkout-summary col-lg-4">
            <h2>Рахунок</h2>
            <ul>
                <li>Товари <span>@Model.totalPrice</span></li>
                <li>ПДВ <span>@Model.tax</span></li>
                <li class="total">Всього <span>@Model.total</span></li>
            </ul>
        </div>
    </div>
</body>
</html>


