@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Підтвердження реєстрації";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
            У цій програмі наразі не зареєстровано справжнього відправника електронної пошти. Перегляньте <a href="https://aka.ms/aspaccountconf">ці документи</a>, щоб дізнатися, як налаштувати справжнього відправника електронної пошти.
            Зазвичай це надсилається електронною поштою: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Натисніть тут, щоб підтвердити свій обліковий запис</a>
</p>
    }
    else
    {
<p>

            Перевірте свою електронну пошту, щоб підтвердити обліковий запис.
</p>
    }
}

